@charset "utf-8";
/* CSS Document */

h1 {color: #C76668;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 60px;
	font-weight: 100;
}

	
	h2 {color: #E8BC3B;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
		font-size: 20px;
		font-weight: 100;
	
	
	}